.App {
  text-align: center;}

.head{
margin:0;background-color: black;
color: white;font-size: 4rem;
font-family: 'Secular One', sans-serif;font-weight: bolder;
}

.h2{
  background-color: black;border-radius: 10%;
  color: white;font-family: 'Reem Kufi', sans-serif;font-weight: bolder;
  }
.sidenav{
    background-color: black;
    height: 100%;
    position: fixed; z-index: 1;
    top: 0;right:0;color: white;
    transition:0.2s ease; overflow:hidden;
    padding-top:2%; display: flex; flex-direction: column;
    align-items:flex-end;
}
#openbutton{
  position:absolute;right:0;top:0;height:3rem;width:3rem;
    background-color: transparent;color: white;
}
#openbutton:hover{color: yellow;}
#closebutton{
height:5rem;width:5rem;background-color: black;color: white;font-size: 3rem;
}
#closebutton:hover{color: yellow;}
.sidelinks{
font-family: 'Reem Kufi', sans-serif;color: white;font-size: 2rem;
}
.sidelinks:hover{color: yellow;}

.extradiv{margin:3rem;
    display: flex;
    flex-flow:wrap;
    flex-direction: row;
    justify-content: space-around;}

.extraimg{
  border:8px solid;
  border-color: white;
box-shadow: 0 0 0 8px #ff9999,
            inset 0 0 0 8px #ff9999;
  height: 400px; width:250px;
  border-radius: 10%;
}

.extratext{font-family: 'Reem Kufi', sans-serif;
  font-size: 2rem;
  align-items: center;justify-content: center;
}

.headline{
  font-family: 'Josefin Sans', sans-serif;
  font-size: 2rem;
}

.fragrance{margin:2rem;
  display: flex;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
}

.fragimage{
  border:8px solid;
  border-color: white;
  box-shadow: 0 0 0 8px violet,
            inset 0 0 0 8px black;
  height: 200px; width:200px;
  border-radius: 50%;
}

.review{
  display: flex;
  flex-direction: row;flex-flow: wrap;justify-content:center;
}

.review-box{background-color: white;
  border: 2px solid black;
  margin:8px;
}


.fragname{
  color: black;font-family: 'Reem Kufi', sans-serif; font-size: 2rem;font-weight: bolder;
}

.bottom{margin-top:50px;
  background-color: black;
  height:200px;
}
.product-photo{
  height:400px;width:200px;border-radius:10%;
}
.proddiv{
  flex-direction: row;justify-content: center;

}
.price{
  font-family: 'Reem Kufi', sans-serif;font-size: 2rem;
}
.link{color: white;
font-family: 'Reem Kufi', sans-serif; font-size: 2rem;
}
.address{color: white;
  font-family: 'Reem Kufi', sans-serif; font-size: 1rem;
}
.App-link {
  color: #61dafb;
}
