.App {
  text-align: center;
;



}
.head{
  margin:0;
color: black;font-size: 5rem;
font-family: 'Sacramento', cursive;font-weight: bolder;
}
.h2{
  color: black;font-family: 'Reem Kufi', sans-serif;font-weight: bolder;

  }

.fragrance{

  display: flex;flex-basis: auto;
  flex-flow: row wrap;
  flex-direction: row;
  justify-content: space-around;
}
.fragimage{
  border:10px solid;border-color: #ff4d88;
  height: 200px; width:200px;
  border-radius: 120px;
}
.fragname{
  color: black;font-family: 'Reem Kufi', sans-serif; font-size: 2rem;font-weight: bolder;
}


.App-link {
  color: #61dafb;
}
